<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>IDM</display-name>
  <servlet>
    <display-name>ResourceServlet</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/test-resources/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>com.sap.ui5.resource.DEV_MODE</param-name>
    <param-value>false</param-value>
  </context-param>
  <filter>
    <display-name>AppCacheBusterFilter</display-name>
    <filter-name>AppCacheBusterFilter</filter-name>
    <filter-class>com.sap.ui5.resource.AppCacheBusterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AppCacheBusterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <servlet-class>com.sap.ui5.proxy.SimpleProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>AccessReview.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>Basic access for all authenticated users</display-name>
    <web-resource-collection>
      <web-resource-name>root</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>all</description>
      <role-name>all</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Basic access for all authenticated users</display-name>
    <web-resource-collection>
      <web-resource-name>root</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
      <http-method>CONNECT</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>idm_authenticated_ui5</description>
      <role-name>idm_authenticated_ui5</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>all</role-name>
  </security-role>
  <security-role>
    <role-name>idm_authenticated_ui5</role-name>
  </security-role>
  <servlet>
    <description>IDM Task Collection</description>
    <display-name>IdmTaskCollection</display-name>
    <servlet-name>IdmTaskCollection</servlet-name>
    <servlet-class>com.lilly.idm.IdmTaskCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdmTaskCollection</servlet-name>
    <url-pattern>/IdmTaskCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Excel Download</description>
    <display-name>ExcelDownload</display-name>
    <servlet-name>ExcelDownload</servlet-name>
    <servlet-class>com.lilly.idm.ExcelDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelDownload</servlet-name>
    <url-pattern>/ExcelDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearch</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>com.lilly.idm.UserSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
</web-app>